{
	"arrowParens": "avoid",
	"semi": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "es5"
}